<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>-->
      <a class="navbar-brand" href="#">手机质量315 - 微博报告</a>
    </div>
    <!--<div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">主页</a></li>
        <li><a href="#about">关于</a></li>
      </ul>
    </div>--><!--/.nav-collapse -->
  </div>
</div>

<div class="container theme-showcase" role="main">
  <div class="container">
    <div class="page-header">
      <h1>让手机厂家不再忽视你的抱怨</h1>
    </div>
    <p class="lead">当你遇到手机时不时地重启，当你遇到手机隔三差五地死机，当你拿到售后被告知手机没有质量问题，你的声音是那么地弱小，没人在乎你的抱怨。下载这个APK，让每次死机和手机重启都能在微博上自动传播，让所有消费者弱小的声音汇集成促进厂商改进质量的正能量。</p>
    <p align="center"><img src="/images/craftsman.1024.png" class="img-responsive" alt="Responsive image"></p>
    <p><div class="alert alert-danger" align="center"><strong>我只是认真！</strong></div></p>
    <p><a href="https://github.com/xiaocong/weibo-report/releases/download/v1.0/CrashWeiboReport.apk" class="btn btn-primary btn-lg btn-block" role="button">下载 APK &raquo;</a></p>
  </div>
</div> <!-- /container -->

<div id="footer">
  <div class="container">
    <p class="text-muted">作者：<a href="https://github.com/xiaocong"> @xiaocong</a> <a href="https://github.com/EricLu"> @ericlu</a>; 微博内容模板维护：<a href="https://github.com/xiaocong/weibo-report"> @xiaocong</a></p>
  </div>
</div>

